.env
.env.*

.git
.gitignore
.idea
*.iml

target
**/target
build
**/build
.gradle
**/.gradle

node_modules
**/node_modules
dist
**/dist
.angular
**/.angular
.vite
**/.vite
coverage
**/coverage

*.log
*.tmp
.DS_Store
Thumbs.db
